<!DOCTYPE html>
<html lxmls:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/style :: style}"></th:block>
    <title>lista tratti </title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/nav :: nav}"></th:block>
    </header>
    <main>
        <div class="container">
            <div class="d-flex justify-content-center mt-4">
                <div>
                    <a th:href="@{/monsters/{id}(id=${monsterId})}" class="btn btn-primary">
                        <i class="bi bi-arrow-left-square"></i>
                    </a>
                </div>

            </div>
            <div class="row bg-light mt-4">
                <div class="me-2 mt-3">
                    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-warning btn-sm"
                        th:href="@{/monsters/{id}/trait(id=${monsterId})}">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </div>
                <div class=" mt-2" th:if="${traits.size() > 0}">
                    <div class="row border-bottom" th:each="trait : ${traits}">
                        <div class="col-12 mt-2 mb-2">

                            <div>
                                <span class="fw-bold">[[${trait.name}]]: </span>
                                <span>[[${trait.effect}]]</span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="me-2">
                                    <a sec:authorize="hasAuthority('ADMIN')"
                                        th:href="@{/trait/edit/{id}(id=${trait.id})}" class="btn btn-success btn-sm">
                                        <i class="bi bi-pencil"></i>

                                    </a>
                                </div>
                                <div sec:authorize="hasAuthority('ADMIN')"
                                    th:replace="~{fragments/modal :: modal(|trait-${trait.id}|, 'confermi?', @{/trait/delete/{id}(id=${trait.id})})}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-light mt-2 text-center" th:unless="${traits.size() > 0}">
                    <div class="my-5">
                        <h4>Tratti non presenti</h4>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <div>
                    <a th:href="@{/monsters/{id}(id=${monsterId})}" class="btn btn-primary">
                        <i class="bi bi-arrow-left-square"></i>
                    </a>
                </div>

            </div>

        </div>
    </main>

    <footer>
        <div class="height"></div>
    </footer>
    <th:block th:replace="~{fragments/script :: scripts}"></th:block>
</body>